body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("background1.jpg");
    background-position: 50% 35% ;

}

div{
    font-size: 16px;
}

#superBigBrother{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 10%;
}

#bigBrother{
    font-size: 0;
}   

.blocks{
    background-color: gray;
    height: 50px;
    width: 50px;
    display:inline-block;
    border:1px solid black;
    opacity: 0.6;
}
           
.miniBlocks{
    height: 33%;
    width: 28%;
    display:inline-block;
    text-align: center;
    visibility: hidden;
    background-color: black;
    color: white;
    border-radius: 50%;
}

#block13,#block23,#block33,#block43,#block53,#block63,#block73,#block83,#block93,#block16,#block26,#block36,#block46,#block56,#block66,#block76,#block86,#block96,#block19,#block29,#block39,#block49,#block59,#block69,#block79,#block89,#block99{
    border-right:  5px solid black;
}

#block14,#block24,#block34,#block44,#block54,#block64,#block74,#block84,#block94,#block17,#block27,#block37,#block47,#block57,#block67,#block77,#block87,#block97,#block11,#block21,#block31,#block41,#block51,#block61,#block71,#block81,#block91{
    border-left:  5px solid black;
}

#block31,#block32,#block33,#block34,#block35,#block36,#block37,#block38,#block39,#block61,#block62,#block63,#block64,#block65,#block66,#block67,#block68,#block69,#block91,#block92,#block93,#block94,#block95,#block96,#block97,#block98,#block99{
    border-bottom:  5px solid black;
}

#block41,#block42,#block43,#block44,#block45,#block46,#block47,#block48,#block49,#block71,#block72,#block73,#block74,#block75,#block76,#block77,#block78,#block79,#block11,#block12,#block13,#block14,#block15,#block16,#block17,#block18,#block19{
    border-top:  5px solid black;
}
